<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <!--nlog config-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Info">

    <variable name="logDirectory" value="${basedir}/Logs" />

    <targets>
      <target name="Spotify_Api" xsi:type="File" fileName="${logDirectory}/Log.txt" createDirs="true" archiveEvery="Day" archiveFileName="${logDirectory}/Log.{#}.txt" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30" layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=message} ${exception:format=type} ${exception:format=stackTrace} ${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}">
      </target>

      <target name="console" xsi:type="Console" layout="${longdate} ${logger} ${uppercase:${level}} ${callsite} ${message} ${exception:format=message} ${exception:format=type} ${exception:format=stackTrace} ${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}" />
    </targets>

    <rules>
      <logger name="SpotifyApiLog" levels="Info,Warn" writeTo="Spotify_Api" final="true" />
    </rules>
  </nlog>
  
</configuration>