
<div class="jumbotron">
    <h1>Code test</h1>
    <hr />
    <p class="lead">.NET MVC Application communicating with the Spotify API, displaying recommendations based on artist, genre or tracks</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Spotify Web Api reference
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://developer.spotify.com/documentation/web-api/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Spotify Catalog information about artists, albums, tracks or playlists that match a keyword string</p>
        <p><a class="btn btn-default" target="_blank" href="https://developer.spotify.com/documentation/web-api/reference/search/search/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recommendations</h2>
        <p>Recommendations Based on Seeds</p>
        <p><a class="btn btn-default" target="_blank" href="https://developer.spotify.com/documentation/web-api/reference/browse/get-recommendations/">Learn more &raquo;</a></p>
    </div>
</div>